.my-photo {
  margin:1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bold-text {
  font-weight: bold;
}
.cursive-text {
  font-style: italic;
}
.rs-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  height: 8%;
}